div {
	border: 1px solid red;
}

h4 {
	border: 1px solid red;
}

body {
	background-color: darkgray;
	/* margin: 0 auto; */
}

/* #movies {
	margin-top: 30px;
} */

.col-top {
	margin-bottom: 50px;
}

.img-size {
	/* width: 200px; */
}

.img-size img {
	width: 100%;
	height: auto;
}

.descr {
	height: 300px;
}

.like-btn {
	height: auto;
	text-align: center;
	/* margin-top: 20px; */
}

.like-count-btn {
	/* margin-top: 20px; */
}

.like-count-btn button {
	height: 46px;
	width: 90px;
	text-align: center;
	background-color: #5DBCD2;
	color: white;
	font-weight: bold;
	border-radius: 10px;
}

.like-count-btn button:hover {
	background-color: red;
}

.like-count-btn {
	text-align: center;
}

.genre {
	/* margin-top: 30px; */
}

/* #footer-section {
	margin: 0 auto;
} */

#footer-section p {
	color: white;
	margin-top: 6px;
}

.footer-img {
	text-align: center;
	background-color: black;
}

.footer-img img {
	width: 20%;
}

